make_blueprints/certificate_blueprint.json
{
    "name": "VoiceCode - Instant Certificate Button",
    "flow": [
        {
            "id": 1,
            "module": "webhook:CustomWebhook",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "Instant Certificate Trigger (Button Click)"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                }
            }
        },
        {
            "id": 2,
            "module": "google-slides:CreatePresentation",
            "version": 1,
            "parameters": {
                "title": "Certificate - {{1.userName}}",
                "templateId": "[SELECT_YOUR_TEMPLATE_ID_HERE]",
                "folderId": "[SELECT_TARGET_FOLDER_ID_HERE]"
            },
            "mapper": {
                "name": "{{1.userName}}",
                "course": "{{1.courseName}}",
                "date": "{{1.completionDate}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            }
        },
        {
            "id": 3,
            "module": "google-drive:DownloadFile",
            "version": 1,
            "parameters": {},
            "mapper": {
                "fileId": "{{2.presentationId}}",
                "format": "application/pdf"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                }
            }
        },
        {
            "id": 4,
            "module": "email:SendEmail",
            "version": 1,
            "parameters": {},
            "mapper": {
                "to": "{{1.email}}",
                "subject": "Here is your {{1.courseName}} Certificate! 🎓",
                "content": "<div style=\"font-family: sans-serif;\"><h2>Congratulations {{1.userName}}!</h2><p>You have successfully completed the <b>{{1.courseName}}</b>.</p><p>We are proud of your achievement. Please find your official certificate attached.</p><br><p>Keep Coding,<br>The VoiceCode Team</p></div>",
                "attachments": [
                    {
                        "fileName": "Certificate_{{1.userName}}.pdf",
                        "data": "{{3.data}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                }
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}