make_blueprints/weekly_progress_blueprint.json
{
    "name": "VoiceCode - Weekly Progress Report",
    "flow": [
        {
            "id": 1,
            "module": "google-cloud-firestore:SearchDocuments",
            "version": 1,
            "parameters": {
                "collectionId": "users",
                "limit": 50
            },
            "mapper": {
                "queries": []
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                }
            }
        },
        {
            "id": 2,
            "module": "google-cloud-firestore:ListDocuments",
            "version": 1,
            "parameters": {
                "collectionId": "activityLog"
            },
            "mapper": {
                "parentDocumentId": "{{1.id}}",
                "queries": [
                    {
                        "field": "timestamp",
                        "operator": ">",
                        "value": "{{addDays(now; -7)}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            }
        },
        {
            "id": 3,
            "module": "builtin:NumericAggregator",
            "version": 1,
            "parameters": {
                "function": "sum"
            },
            "mapper": {
                "values": [
                    "{{2.xp}}"
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                }
            }
        },
        {
            "id": 4,
            "module": "email:SendEmail",
            "version": 1,
            "parameters": {},
            "mapper": {
                "to": "{{1.email}}",
                "subject": "Your Weekly Coding Report 📈",
                "content": "<h1>Weekly Recap for {{1.displayName}}</h1><ul><li>🔥 <b>XP Gained:</b> {{3.result}}</li></ul><p>Keep up the momentum!</p>"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                }
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}